:root {
    --color-body: #FFFFFF;
    --color-child: #F3F3F3;
    --color-text: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-body: #202124;
        --color-child: #56585D;
        --color-text: #FFFFFF;
    }
}

* {
    border-color: #AAB0B6;
    border-radius: 3px;
}

body, button, input, textarea, select {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
}

button, input, textarea, select, option {
    background-color: var(--color-child);
    color: var(--color-text);
}

body, div {
    background-color: var(--color-body);
    color: var(--color-text);
    user-select: none;
    position: relative;
}

body {
    margin: 8px;
}

span, label {
    display: inline-block;
}

select {
    padding: 0px 5px;
}

input {
    border-style: inset;
    border-width: 1px;
    padding: 1px 5px;
    resize: none;
    width: calc(100% - 12px);
}

input + span {
    display: none;
    position: absolute;
    right: 8px;
    top: 2px;
}

input:focus + span {
    display: block;
}

input[type="file"], a {
    display: none;
}

input[type="number"] + span {
    right: 24px;
}

option:checked {
    font-weight: bold;
}

button {
    border-style: outset;
    border-width: 1px;
    padding: 3px 5px;
    white-space: nowrap;
}

button:enabled:hover {
    cursor: pointer;
    filter: contrast(80%);
}

button:enabled:active {
    border-style: inset;
    filter: contrast(60%);
}

button:disabled {
    border-width: 0px;
    filter: contrast(40%);
    padding: 4px 6px;
}

h1 {
    margin: 50px 0px 20px;
}

h4 {
    margin: 0px;
    padding: 3px 0px;
}

.hidden, .template {
    display: none;
}

.group {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
}

.group > :not(.groupitem) {
    grid-column: span 2;
}

.groupitem > select {
    width: 100%;
}

.flex, .flexmenu {
    display: flex;
    gap: 3px;
    margin-bottom: 1px;
}

.flexmenu > h4 {
    padding: 2px 0px;
}

.flexmenu > input:not(:first-child) {
    margin-left: auto;
    width: 50%;
}

.flexmenu > button {
    padding: 1px;
    width: 25px;
}
