textarea {
    border-style: inset;
    border-width: 1px;
    overflow: hidden auto;
    padding: 3px;
    resize: none;
    width: calc(100% - 8px);
}

label {
    align-items: center;
    background-color: var(--color-child);
    border-style: solid;
    border-width: 1px;
    color: var(--color-text);
    height: 219px;
    justify-content: center;
    text-align: center;
    white-space: pre-wrap;
}

label:active {
    filter: contrast(60%);
}

body:not(.meta) .e-meta,
.meta .x-meta {
    display: none;
}

#referer {
    border-style: solid;
    border-width: 2px;
    left: 0px;
    max-height: 155px;
    overflow: hidden auto;
    position: absolute;
    top: 100%;
    width: calc(100% - 4px);
    z-index: 9;
}

#referer > * {
    padding: 5px;
    white-space: nowrap;
}

#referer > :hover {
    filter: contrast(80%);
}

#referer > :active {
    filter: contrast(60%);
}

.meta label {
    display: flex;
}

.flexmenu > button {
    margin-left: auto;
    padding: 1px 5px;
    width: auto;
}
