textarea {
    padding: 3px;
    width: calc(100% - 12px);
    resize: none;
    border-width: 1px;
    border-style: inset;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu {
    text-align: center;
}
