textarea {
    border-style: inset;
    border-width: 1px;
    overflow: hidden auto;
    padding: 3px;
    resize: none;
    width: calc(100% - 8px);
}

#menu > h4 {
    margin-right: auto;
}

#menu > button {
    padding: 1px 5px;
    width: auto;
}

#referer {
    border-style: solid;
    border-width: 2px;
    left: 0px;
    max-height: 155px;
    overflow: hidden auto;
    position: absolute;
    top: 100%;
    width: calc(100% - 4px);
    z-index: 9;
}

#referer > * {
    padding: 5px;
    white-space: nowrap;
}

#referer > :hover {
    filter: var(--item-hover);
}

#referer > :active {
    filter: var(--item-active);
}

