img {
    margin: 3px;
    border-width: 1px;
    border-style: solid;
}

img.checked {
    filter: contrast(45%);
}

body:not(.extra) #options {
    display: none;
}

.extra #extra_btn {
    border-style: inset;
}

#viewer {
    height: calc(100vh - 63px);
    overflow-y: auto;
}

#options {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    position: absolute;
    right: 0px;
    bottom: 38px;
}

#options > :nth-child(-n+2) {
    margin-top: 0px;
}

#menu {
    text-align: center;
}
