img {
    margin: 3px;
    border-width: 1px;
    border-style: solid;
}

img.checked {
    filter: contrast(45%);
}

button.checked {
    border-style: inset;
}

#viewer {
    height: 604px;
    width: 736px;
    overflow-y: auto;
}

#menu {
    text-align: center;
}
