body {
    margin: auto;
    width: 660px;
}

#menu {
    background-color: #fff;
    position: fixed;
    top: 5px;
    width: 648px;
    padding: 5px;
    z-index: 999;
    border: 1px groove #fff;
}

#export_btn, #back_btn {
    margin-left: auto;
}

#option, #global {
    margin-top: 70px;
}

.download {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'folder folder' 'prompt headers' 'start complete'
}

.download > :nth-child(1) {
    grid-area: folder;
}

.download > :nth-child(4) {
    grid-area: start;
}

.download > :nth-child(5) {
    grid-area: complete;
}

[data-prefs="option"] [data-global], [data-prefs="global"] [data-option] {
    display: none;
}
