body {
    margin: auto;
    width: 680px;
}

#menu {
    border-width: 1px;
    border-style: outset;
    position: fixed;
    top: 5px;
    width: 668px;
    padding: 5px;
    z-index: 999999;
}

#export_btn, #back_btn {
    margin-left: auto;
}

#local, #aria2 {
    margin-top: 70px;
}

#local .flex > * {
    flex: 1;
}

[data-main="local"] [data-aria2], [data-main="aria2"] [data-local] {
    display: none;
}
