body {
    margin: auto;
    width: 680px;
}

body:not(.jsonrpc) [data-rel="jsonrpc"], body.jsonrpc [data-exc="jsonrpc"], body:not(.firefox) [data-app="firefox"],
body:not(.context_enabled) [data-rel="context_enabled"], body:not(.headers_enabled) [data-rel="headers_enabled"],
body:not(.folder_enabled) [data-rel="folder_enabled"], body:not(.capture_enabled) [data-rel="capture_enabled"],
body.proxy_always [data-exc="proxy_always"], body.capture_always [data-exc="capture_always"],
body:not(.capture_enabled) [data-exc*="capture_enabled"], body.capture_webrequest [data-exc*="capture_webrequest"] {
    display: none;
}

input[type="checkbox"] {
    width: auto;
    transform: scale(1.5);
    accent-color: #006cbe;
}

input[type="checkbox"] + label {
    padding: 3px 0px;
    font-weight: bold;
}

#menu {
    border-width: 0px 1px 1px;
    border-style: solid;
    padding: 8px;
    position: fixed;
    top: 0px;
    z-index: 999999;
    width: 662px;
}

#menu > div {
    margin-left: auto;
}

#version {
    padding: 4px;
}

#version::before {
    content: "v";
}

#aria2ua::before {
    content: "aria2/";
}

.match {
    padding: 10px;
    border-style: inset;
    border-width: 1px;
}

.match > :nth-last-child(n+2) {
    margin-bottom: 20px;
}

.options {
    margin: 30px 0px;
}

.even {
    margin-top: 31px;
}

.match {
    margin: 20px 0px;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 59px;
    max-height: 118px;
    border-style: inset;
    border-width: 1px;
    overflow-y: scroll;
    margin-top: 5px;
}

.rule {
    display: grid;
    grid-template-columns: 135px 22px;
    grid-template-rows: 29px;
}

.rule > * {
    padding: 3px;
    border-style: outset;
    border-width: 1px;
    overflow: hidden;
}

.rule button {
    font-size: 12px;
}
