body {
    margin: auto;
    width: 680px;
}

body:not(.aria2) [data-aria2], body.aria2 [data-local] {
    display: none;
}

h1 {
    margin: 50px 0px 0px;
}

label {
    padding: 5px 0px;
}

input[type="checkbox"] {
    width: auto;
    transform: scale(1.5);
    accent-color: #006cbe;
}

#menu {
    border-width: 1px;
    border-style: outset;
    position: fixed;
    top: 5px;
    width: 668px;
    padding: 5px;
    z-index: 999999;
}

#menu > :last-child {
    flex: none;
    margin-left: auto;
}

#version, #aria2ver {
    padding: 5px;
}

#version::before, #aria2ver::before {
    content: "v";
}

#aria2ua::before {
    content: "aria2/";
}

#local, #aria2 {
    margin-top: 80px;
}

.menu label {
    font-weight: bold;
}

.flex > label {
    margin-right: 5px;
    flex: none;
}

.rulelist > * {
    display: inline-block;
    margin: 10px 10px 0px 0px;
}

.rule > * {
    padding: 3px;
}

.rule > span {
    border-style: solid;
    border-width: 1px;
}
