body {
    margin: auto;
    width: 680px;
}

body:not(.jsonrpc) [data-rel="jsonrpc"],
body.jsonrpc [data-exc="jsonrpc"],
body:not(.context_enabled) [data-rel="context_enabled"],
body:not(.headers_override) [data-rel="headers_override"],
body:not(.firefox) [data-app="firefox"],
body:not(.folder_enabled) [data-rel="folder_enabled"],
body:not(.capture_enabled) [data-rel="capture_enabled"],
body.capture_webrequest [data-exc*="capture_webrequest"] {
    display: none;
}

input[type="checkbox"] {
    accent-color: #006cbe;
    transform: scale(1.5);
    width: auto;
}

input[type="checkbox"] + label {
    padding: 3px 0px;
    font-weight: bold;
}

#menu {
    border-style: solid;
    border-width: 0px 1px 1px;
    padding: 8px;
    position: fixed;
    top: 0px;
    width: 662px;
    z-index: 999999;
}

#version {
    margin-left: auto;
    padding: 4px;
}

#version::before {
    content: "v";
}

#aria2ua::before {
    content: "aria2/";
}

.align {
    margin: 22px 0px 8px;
}

.group {
    margin: 28px 0px;
}

.flex > .flex:first-of-type {
    margin: 0px 30px;
}

.flat > input {
    margin-top: 1px;
}

.flat {
    flex: 1;
}

.matches {
    border-style: inset;
    border-width: 1px;
    padding: 8px;
}

.list {
    border-style: outset;
    border-width: 1px;
    display: grid;
    grid-auto-rows: 25px;
    grid-template-columns: repeat(3, 33.33%);
    max-height: 118px;
    min-height: 59px;
    overflow-y: scroll;
}

.listx {
    grid-template-columns: repeat(5, 20%);
    height: 59px;
}

.list > * {
    border-style: outset;
    border-width: 1px;
    display: flex;
}

.list > * > div {
    flex: 1;
    overflow: hidden;
}

.list button {
    padding: 0px;
}

.sample::before {
    content: "__MSG_option_sample__";
    text-decoration: underline;
}

.default::before {
    content: "__MSG_option_default__: ";
}

.disabled::before {
    content: "__MSG_option_disabled__: ";
}
