[data-mode="http"] [data-bt], [data-mode="bt"] [data-http] {
    display: none;
}

#session {
    overflow-y: auto;
    padding: 0px;
    margin-bottom: 15px;
}

#session, .uri > * {
    width: 100%;
    word-break: break-word;
}

#session, .uri > *, .file > * {
    height: 46px;
}

.uri > * {
    overflow-y: hidden;
    margin-top: 5px;
    text-align: left;
}

.module3 > div {
    border: 1px ridge #ccc;
    padding: 5px;
}

.block {
    line-height: 27px;
}

.file {
    display: grid;
    grid-template-columns: 40px auto 80px 60px;
}

.file > *:not(#index) {
    border: 1px ridge #ccc;
}

.file > *:not(#name, #index) {
    line-height: 46px;
    text-align: center;
}

.file > #name {
    overflow-y: auto;
}
