.module3 > div {
    border: 1px ridge #ccc;
    padding: 5px;
}

.block {
    line-height: 27px;
}

#session, #uris > * {
    width: 100%;
    padding: 0px;
    word-break: break-word;
}

#session {
    overflow-y: auto;
    margin-bottom: 15px;
}

#session, #uris > *, .file > * {
    height: 46px;
}

#uris > * {
    overflow-y: hidden;
    margin-top: 5px;
    text-align: left;
}

.file {
    display: grid;
    grid-template-columns: 40px auto 80px 60px;
}

.file > *:not(#index) {
    border: 1px ridge #ccc;
}

.file > *:not(#name, #index) {
    line-height: 46px;
    text-align: center;
}

.file > #name {
    overflow-y: auto;
}
