.module3 > div {
    border: 1px ridge #ccc;
    padding: 5px;
}

.plate {
    padding: 4px;
}

.suffix {
    margin-top: 3px;
}

#session {
    height: 46px;
    width: 100%;
    padding: 0px;
    overflow-y: auto;
    margin-bottom: 15px;
}

#session, #uris * {
    word-break: break-word;
}

#uris > *:nth-child(n+2) {
    margin-top: 3px;
}

#uris > *:active, #files #index:active {
    filter: opacity(60%);
}

.files {
    display: grid;
    grid-template-columns: 40px auto 80px 60px;
    grid-template-rows: 46px;
}

.files > * {
    border: 1px ridge #ccc;
    height: 46px;
}

.files > *:not(#name) {
    line-height: 46px;
    text-align: center;
}

.files #name {
    overflow-y: auto;
}
