.full {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 3px;
    margin: 8px auto;
    width: 1280px;
}

.full > ::before {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.full > #menu {
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
    padding: 8px;
}

.full > #menu > div::before {
    display: inline-block;
    margin-left: 10%;
    width: 45%;
}

.full > #menu::before {
    content: "__MSG_popup_menu__";
    order: -2;
}

.full > #menu > button {
    order: -1;
}

.full > hr {
    display: none;
}

.full > #choose {
    grid-area: 2 / 1 / 3 / 2;
}

.full > #choose::before {
    content: "__MSG_popup_queue__";
}

.full > #queue {
    grid-area: 1 / 2 / 5 / 3;
}

body:not(.full) > #queue {
    height: 537px;
}

body:not(.full) #menu {
    border-width: 0px;
}

body:not(.full) #menu > div:nth-child(n+3) {
    display: none;
}

body:not(.full) > #choose {
    position: fixed;
    z-index: 999999;
}

#menu > div:nth-child(1)::before {
    content: "__MSG_popup_download__";
}

#menu > div:nth-child(2)::before {
    content: "__MSG_popup_upload__";
}

#menu > div:nth-child(3)::before {
    content: "__MSG_popup_active__";
}

#menu > div:nth-child(4)::before {
    content: "__MSG_popup_waiting__";
}

#menu > div:nth-child(5)::before {
    content: "__MSG_popup_stopped__";
}

.day:not(:empty)::after {
    content: "__MSG_time_day__";
}

.hour:not(:empty)::after {
    content: "__MSG_time_hour__";
}

.minute:not(:empty)::after {
    content: "__MSG_time_minute__";
}

.second:not(:empty)::after {
    content: "__MSG_time_second__";
}
