body {
    width: 680px;
}

.active > #choose > #active::before,
.waiting > #choose > #waiting::before,
.paused > #choose > #paused::before,
.complete > #choose > #complete::before,
.removed > #choose > #removed::before,
.error > #choose > #error::before {
    visibility: hidden;
}

.active > #queue > #active,
.waiting > #queue > #waiting,
.paused > #queue > #paused,
.complete > #queue > #complete,
.removed > #queue > #removed,
.error > #queue > #error {
    display: none;
}

#choose {
    border-width: 1px;
    border-style: solid;
    position: fixed;
    top: 42px;
    z-index: 999999;
}

#choose > :hover {
    filter: contrast(75%);
}

#choose > :active {
    filter: contrast(45%);
}

#choose::before, #choose > *, #choose > ::before {
    padding: 5px;
}

#choose > ::before {
    content: "✔️";
    margin-right: 5px;
}

#status {
    display: flex;
    margin-right: auto;
}

#status > *, #status > ::before {
    padding: 4px 8px 4px 0px;
    text-align: center;
}

#status > * {
    margin-right: 50px;
}

#queue {
    overflow-y: auto;
}

#queue > #complete input, #queue > #complete select,
#queue > #removed input, #queue > #removed select,
#queue > #error input, #queue > #error select,
.session.http [name="max-upload-limit"] {
    pointer-events: none;
    filter: contrast(25%);
}

#queue > #complete #options button,
#queue > #removed #options button,
#queue > #error #options button,
.session.http [data-p2p],
.session.p2p [data-http],
#retry_btn, #save_btn {
    display: none;
}

#queue > #complete .http #retry_btn, #queue > #removed .http #retry_btn, #queue > #error .http #retry_btn {
    display: inline-block;
}

#queue #meter {
    background-color: #4a4a4a;
}

#queue #ratio, .session .ready {
    background-color: #0e4d7b;
    color: #ffffff;
}

#queue > #active .title::before {
    background-color: #0e4d7b;
}

#queue > #waiting .title::before,
#queue > #paused .title::before,
#queue > #paused #ratio {
    background-color: #d7ad51;
}

#queue > #complete .title::before,
#queue > #complete #ratio {
    background-color: #146032;
}

#queue > #removed .title::before,
#queue > #error .title::before,
#queue > #error #ratio {
    background-color: #a81524;
}

#queue > :nth-child(-n+3) #meter:active,
#queue > :nth-child(-n+3) #ratio:active,
#queue > :nth-child(-n+3) .p2p .file > :nth-child(1):active {
    filter: contrast(45%);
}

#queue .http .uri > :nth-child(1):active {
    filter: contrast(45%);
}

#download::after, #upload::after {
    content: "B/s";
}

#remote::after, #local::after, #size::after {
    content: "B";
}

#ratio::after, #done::after {
    content: "%";
}

#infinite {
    display: none;
}

#day::after, #hour::after, #minute::after, #second::after {
    vertical-align: sub;
}

#day:empty + #hour:empty + #minute:empty + #second:empty + #infinite {
    display: inline-block;
}

.session {
    border-width: 1px;
    border-style: outset;
    padding: 3px;
    margin-bottom: 5px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr) 22.5px;
}

.session > #title {
    grid-area: 1 / 1 / 1 / 4;
}

.session > #title::before {
    content: "";
    display: inline-block;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    position: relative;
    top: 1px;
    margin: 0px 9px 0px 5px;
}

.session > #menu {
    grid-area: 1 / 4 / 4 / 5;
}

.session > #menu > button {
    font-size: 12px;
    padding: 2px;
}

.session > #meter {
    grid-area: 4 / 1 / 4 / 5;
    text-align: center;
}

.session > #options {
    grid-area: 5 / 1 / 5 / 5;
}

.session > #options > * {
    margin-top: 5px;
}

.session #save_btn {
    position: absolute;
    top: -10px;
    right: 0px;
    padding: 4px;
}

.file > *, .uri > * {
    border-width: 1px;
    border-style: solid;
    height: 21px;
    padding: 3px;
    overflow: hidden;
    white-space: nowrap;
}

.file > :not(:nth-child(2)), .uri > :nth-child(n+2) {
    text-align: center;
    padding: 3px 0px;
}

.file {
    display: grid;
    grid-template-columns: 40px auto 80px 60px;
}

.uri {
    display: grid;
    grid-template-columns: auto 40px 40px;
}

.session:not(.extra) > #options {
    display: none;
}

.queue #queue_btn, .session.extra #detail_btn {
    border-style: inset;
}
