[highlight] {
    padding: 3px 5px;
}

[info]:nth-child(2n) {
    margin-right: 10px;
}

.queue {
    height: 410px;
    overflow-y: auto;
}

.session {
    border: 1px outset #CCC;
    padding: 3px;
    margin-bottom: 5px;
}

.details {
    width: calc(100% - 25px);
}

.details, .menu, .result * {
    display: inline-block;
}

.result > * {
    width: 32%;
}

.result > * > * {
    margin-left: 4px;
}

.menu {
    vertical-align: top;
    width: 20px;
}

.menu [button] {
    font-size: 12px;
    padding: 1px;
}

#error {
    color: #f00;
    font-size: 11px;
}

#estimate > * {
    margin-left: -4px;
}

#fancybar {
    text-align: center;
}

#fancybar:active {
    filter: opacity(30%);
}
