.stats {
    margin-right: 10px;
}

.light {
    padding: 3px 5px;
}

.queue {
    height: 410px;
    overflow-y: auto;
}

.session {
    position: relative;
    border: 1px outset #CCC;
    padding: 3px;
    margin-bottom: 5px;
}

.details {
    width: calc(100% - 20px);
}

.triple > * > * {
    margin-left: 4px;
}

.session .sidemenu {
    top: 3px;
    right: 3px;
    width: 20px;
}

.session [button] {
    font-size: 12px;
    padding: 1px;
}

#error {
    color: #f00;
    font-size: 11px;
}

#estimate > * {
    margin-left: -4px;
}

#fancybar {
    text-align: center;
}

#fancybar:active {
    filter: opacity(30%);
}

#fancybar.active {
    background-color: #4cc;
}

#fancybar.waiting {
    background-color: #488;
}

#fancybar.paused {
    background-color: #888;
}

#fancybar.removed {
    background-color: #844;
}

#fancybar.error {
    background-color: #400;
}
