body {
    height: 580px;
    width: 680px;
}

body > .session, body > .file, body > .uri,
[data-main="0"] > [data-queue]:nth-child(n+2),
[data-main="1"] > [data-queue]:not(:nth-child(n+2):nth-child(-n+3)),
[data-main="2"] > [data-queue]:nth-child(-n+3),
.http [data-p2p], .p2p [data-http] {
    display: none;
}

[data-main="0"] > button.active,
[data-main="1"] > button.waiting,
[data-main="2"] > button.removed {
    border-style: inset;
}

.stats {
    display: inline-block;
    padding: 6px;
}

span.stats {
    margin-right: 10px;
    padding-left: 3px;
}

#download::after, #upload::after {
    content: "B/s";
}

#remote::after, #local::after, #size::after {
    content: "B";
}

#session {
    height: calc(100% - 102px);
    overflow-y: auto;
}

.session {
    border-width: 1px;
    border-style: outset;
    padding: 3px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(3, calc(33.333% - 7.5px)) 22.5px;
    grid-template-areas: "name name name menu" "details details details menu" "details details details menu" "meter meter meter meter" "options options options options";
}

.session > #name {
    grid-area: name;
}

.session > #menus {
    grid-area: menu;
}

.session > #menus > button {
    font-size: 12px;
    padding: 2px;
}

.session > #meter {
    grid-area: meter;
    text-align: center;
}

.session > #options {
    grid-area: options;
}

.session:not(.extra) > #options {
    display: none;
}

.session sub {
    margin-right: -4px;
}

.session #infinite {
    display: none;
    left: 26px;
    padding-bottom: 1px;
}

.session #save_btn {
    top: -12px;
    display: none;
}

.session :not(.file, .uri) > [title] {
    margin-top: 5px;
}

input:disabled + button {
    display: none;
}

.file {
    display: grid;
    grid-template-columns: 40px auto 80px 60px;
}

.uri {
    display: grid;
    grid-template-columns: auto 40px 40px;
}

.file > *, .uri > * {
    border-width: 1px;
    border-style: ridge;
    overflow: hidden;
    height: 23px;
}

.file > :not(:nth-child(2)), .uri > :nth-child(n+2) {
    text-align: center;
    padding: 5px 0px;
}

.file > :nth-child(2), .uri > :nth-child(1) {
    padding: 5px;
}

.session:not([status="complete"], [status="removed"], [status="error"]) > #meter:active,
.session.p2p .file > :nth-child(1):active,
.session.http .uri > :nth-child(1):active {
    filter: contrast(45%);
}

.active {
    background-color: #44c;
}

.waiting, .paused {
    background-color: #cc4;
}

.complete {
    background-color: #4c4;
}

.removed, .error {
    background-color: #c48;
}

.active, .waiting, .paused, .error, .complete, .removed {
    color: #fff;
}

[status="active"] > #meter {
    background-color: #4cc;
}

[status="waiting"] > #meter, [status="paused"] > #meter {
    background-color: #488;
}

[status="complete"] > #meter {
    background-color: #4c4;
}

[status="removed"] > #meter, [status="error"] > #meter {
    background-color: #844;
}
