.block {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

.stats {
    margin-right: 10px;
}

.session {
    position: relative;
    border: 1px outset #CCC;
    padding: 3px;
    margin-bottom: 5px;
}

.details {
    width: calc(100% - 20px);
}

.session .sidemenu {
    top: 1px;
    right: 1px;
    width: 20px;
}

.session button {
    font-size: 12px;
    padding: 0px;
}

#error {
    color: #f00;
    font-size: 11px;
}

#infinite {
    background-color: #fff;
}

#estimate > * {
    margin-left: -4px;
}

#meter {
    text-align: center;
}

#meter:active {
    filter: opacity(30%);
}

[status="active"] #meter {
    background-color: #4cc;
}

[status="waiting"] #meter {
    background-color: #488;
}

[status="paused"] #meter {
    background-color: #888;
}

[status="removed"] #meter {
    background-color: #844;
}

[status="error"] #meter {
    background-color: #400;
}
