.active {
    background-color: #44c;
}

.waiting, .paused {
    background-color: #cc4;
}

.complete {
    background-color: #4c4;
}

.removed, .error {
    background-color: #c48;
}

.active, .waiting, .paused, .error, .complete, .removed {
    color: #fff;
}

.module, .detail {
    display: grid;
}

.module {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
}

.detail {
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0.5%;
}

.detail > * > span {
    margin-left: 5px;
    background-color: #fff;
}

.block {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.stats {
    margin-right: 10px;
}

.session {
    position: relative;
    border: 1px outset #CCC;
    padding: 3px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: calc(100% - 20px) 20px;
    grid-template-areas: 'name menu' 'detail menu' 'meter meter';
}

.menu {
    grid-area: menu;
}

#meter {
    grid-area: meter;
    text-align: center;
}

#meter:active {
    filter: opacity(50%);
}

.session button {
    font-size: 12px;
    padding: 1px;
}

#error {
    color: #f00;
    font-size: 11px;
}

#estimate > * {
    margin-left: -4px;
}

[status="active"] #meter {
    background-color: #4cc;
}

[status="waiting"] #meter {
    background-color: #488;
}

[status="paused"] #meter {
    background-color: #888;
}

[status="removed"] #meter {
    background-color: #c84;
}

[status="error"] #meter {
    background-color: #c44;
}

.footmenu {
    text-align: center;
}

#manager > div:first-child {
    margin-bottom: 15px;
}

#name_btn {
    overflow-y: auto;
    padding: 0px;
    margin-bottom: 15px;
}

#name_btn, .uri > * {
    width: 100%;
    word-break: break-word;
}

#name_btn, .uri > *, .file > * {
    height: 46px;
}

.uri > * {
    overflow-y: hidden;
    margin-top: 5px;
    text-align: left;
}

#manager .detail > div {
    border: 1px ridge #ccc;
    padding: 5px;
}

#manager .block {
    line-height: 27px;
}

.file {
    display: grid;
    grid-template-columns: 40px auto 80px 60px;
}

.file > *:not(#index) {
    border: 1px ridge #ccc;
}

.file > *:not(#name, #index) {
    line-height: 46px;
    text-align: center;
}

.file > #name {
    overflow-y: auto;
}
