#preview {
    height: 594px;
    overflow-y: auto;
}

img {
    margin: 3px;
    border-width: 1px;
    border-style: solid;
}

img.checked {
    filter: contrast(45%);
}

#menu {
    text-align: center;
}
