body {
    width: 680px;
    margin: 8px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 33px 500px 33px;
}

#stats {
    grid-area: 1 / 1 / 1 / 4;
}

#queue {
    grid-area: 2 / 1 / 3 / 5;
    overflow-y: auto;
    padding: 5px 0px;
    border-width: 2px 0px;
    border-style: solid;
}

#speed {
    grid-area: 3 / 1 / 4 / 4;
}

#menu, #tool {
    margin-left: auto;
}

.full {
    width: 1280px;
    margin: 8px auto;
    grid-template-rows: 33px auto;
    grid-template-columns: repeat(2, 550px) repeat(2, max-content);
}

.full > #stats {
    grid-area: 1 / 1 / 1 / 2;
}

.full > #speed {
    grid-area: 1 / 2 / 1 / 3;
}

.full > #menu {
    grid-area: 1 / 3 / 1 / 4;
}

.full > #queue {
    border-bottom-width: 0px;
}

body > div:not([id]),
#queue.act > :nth-child(n+2),
#queue.wait > :not(:nth-child(n+2):nth-child(-n+3)),
#queue.stop > :nth-child(-n+3),
.http [data-p2p], .p2p [data-http], #retry_btn {
    display: none;
}

.act #active_btn,
.wait #waiting_btn,
.stop #stopped_btn {
    border-style: inset;
}

.download, .upload {
    display: inline-block;
    padding: 6px;
}

.stats {
    margin-right: 10px;
    padding: 6px 3px;
}

#download::after, #upload::after {
    content: "B/s";
}

#remote::after, #local::after, #size::after {
    content: "B";
}

#ratio::after {
    content: "%";
}

#day:not(:empty)::after {
    content: "__MSG_time_day__";
    vertical-align: sub;
}

#hour:not(:empty)::after {
    content: "__MSG_time_hour__";
    vertical-align: sub;
}

#minute:not(:empty)::after {
    content: "__MSG_time_minute__";
    vertical-align: sub;
}

#second:not(:empty)::after {
    content: "__MSG_time_second__";
    vertical-align: sub;
}

#infinite {
    display: none;
}

#day:empty + #hour:empty + #minute:empty + #second:empty + #infinite {
    display: inline-block;
}

.session {
    border-width: 1px;
    border-style: outset;
    padding: 3px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 7.5px)) 22.5px;
}

.session > #name {
    grid-area: 1 / 1 / 1 / 4;
}

.session > :not([id]) {
    margin: 2px 0px;
}

.session > #menu {
    grid-area: 1 / 4 / 4 / 5;
}

.session > #menu > button {
    font-size: 12px;
    padding: 2px;
}

.session > #meter {
    grid-area: 4 / 1 / 4 / 5;
    text-align: center;
}

.session > #options {
    grid-area: 5 / 1 / 5 / 5;
}

.session:not(.extra) > #options {
    display: none;
}

.session .menu {
    margin-top: 10px;
}

#save_btn {
    top: -10px;
    padding: 4px;
    display: none;
}

input:disabled + button {
    display: none;
}

.file {
    display: grid;
    grid-template-columns: 40px auto 80px 60px;
}

.uri {
    display: grid;
    grid-template-columns: auto 40px 40px;
}

.file > *, .uri > * {
    border-width: 1px;
    border-style: ridge;
    overflow: hidden;
    height: 23px;
}

.file > :not(:nth-child(2)), .uri > :nth-child(n+2) {
    text-align: center;
    padding: 5px 0px;
}

.file > :nth-child(2), .uri > :nth-child(1) {
    padding: 5px;
}

#queue > :not(.complete, .removed, .error) #meter:active,
#queue > :not(.complete, .removed, .error) #meter #ratio:active,
#queue > :not(.complete, .removed, .error) .p2p .file > :nth-child(1):active,
#queue .http .uri > :nth-child(1):active {
    filter: contrast(45%);
}

.active #meter {
    background-color: #4cc;
}

.waiting #meter, .paused #meter {
    background-color: #488;
}

.complete #meter {
    background-color: #4c4;
}

.removed #meter, .error #meter {
    background-color: #844;
}

#active_btn, .active #meter #ratio, .download, .checked {
    background-color: #44c;
}

#waiting_btn, .waiting #meter #ratio, .paused #meter #ratio, .suspend {
    background-color: #cc4;
}

.complete #meter #ratio, .upload {
    background-color: #4c4;
}

#stopped_btn, .removed #meter #ratio, .error #meter #ratio {
    background-color: #c48;
}

#active_btn, #waiting_btn, #stopped_btn, #meter, .download, .upload, .checked, .suspend {
    color: #fff;
}
